<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Snippet - BBBootstrap</title>
    <link href='../assets/style.css' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
   </head>
<body className='snippet-body'>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            This project is a todo list application that utilizes
                            both linked list and stack data structures
                            to manage and manipulate tasks, allowing users to add, remove,
                            and perform undo and redo operations on tasks.
                        </h4>
                        <form method="post" class="add-items d-flex">
                            <input type="submit" name="action" value="Undo" class="add btn btn-primary font-weight-bold todo-list-add-btn">
                            <input type="submit" name="action" value="Redo" class="add btn btn-primary font-weight-bold todo-list-add-btn">

                            <select name="selectTask">
                                <option selected disabled>Select a task</option>
                                <?php
                                $temp = $list->display();
                                while ($temp !== null) {
                                ?>
                                <option value="<?= $temp->data ?>"><?= $temp->data ?></option>
                                <?php
                                $temp = $temp->next;
                                }
                                ?>
                            </select>


                            <input type="text" name="task" class="form-control todo-list-input" placeholder="What do you need to do today?">
                            <button type="submit" class="add btn btn-primary font-weight-bold todo-list-add-btn"  name="action" value="Submit">Add</button> </form>
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list">
                                <?php
                                $temp = $list->display();
                                while ($temp !== null) {
                                ?>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            <?= $temp->data . " "; ?>
                                            <i class="input-helper"></i></label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <?php
                                    $temp = $temp->next;
                                }
                                ?>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
<script type='text/javascript' src='#'></script>
<script type='text/javascript' src='#'></script>
<script type='text/javascript' src='#'></script>
<script type='text/javascript'>(function($) {
    'use strict';
    $(function() {
        var todoListItem = $('.todo-list');
        var todoListInput = $('.todo-list-input');


        todoListItem.on('change', '.checkbox', function() {
            if ($(this).attr('checked')) {
                $(this).removeAttr('checked');
            } else {
                $(this).attr('checked', 'checked');
            }

            $(this).closest("li").toggleClass('completed');

        });

        todoListItem.on('click', '.remove', function() {
            $(this).parent().remove();
        });

    });
})(jQuery);
</script>
</body>
</html>